<#import "/le/oa/core/views/layout.ftl.html" as l>
<#import "/le/oa/core/views/lib.ftl.html" as c>

<#assign header>

</#assign>
<#assign footer>

</#assign>
<@l.layout header=header footer=footer>
<div class="main">
    <div class="main-header">
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-home fa-fw"></i>首页</a></li>
            <li class="active">项目</li>
        </ol>
        <div class="tools">
            <ul>
                <li><a href="/project/new">新建项目</a></li>
                <li class="${(search.isArchived)?string('','active')}" >
                    <a  href="/projects?isArchived=false">未归档的项目</a>
                </li>
                <li class="${(search.isArchived)?string('active','')}" >
                    <a href="/projects?isArchived=true"><i class="fa fa-book fa-fw"></i>归档的项目</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-body">
        <form id="searchForm" method="get" action="/projects">
            <div class="filter">
                <ul>
                    <li>
                        <div class="input-group col-lg-6">
                            <input type="text" name="name" value="${(search.name)!}" class="form-control"
                                   placeholder="项目名称...">
                          <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">查询</button>
                          </span>
                        </div>
                    </li>
                </ul>
            </div>
            <input type="hidden" name="isArchived" value="${(search.isArchived)?string('true', 'false')}">
        </form>

        <table class="table table-hover  work-list">

            <thead>
            <th class="col-xs-3">名称</th>
            <th class="col-xs-2">管理员</th>
            <th class="col-xs-1">成员</th>
            <th class="col-xs-2">状态</th>
            <th class="col-xs-2">建立日期</th>
            <th class="col-xs-2">归档日期</th>
            </thead>
            <tbody>
                <#list projects as project>

                <tr>
                    <td><a href="/project/${project.id}/tasks">${project.name}</a>

                        <div class="info-box">
                            <ul>

                                <li>${(project.createdBy.name)!}
                                    ${project.createdAt}</li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <#list project.projectUsers as user>
                        <#if user.role=="ADMIN">
                        ${(user.user.name)!}
                        </#if>
                      </#list>
                    </td>
                    <td>

                    ${(project.projectUsers)?size} 人
                    </td>
                    <td>
                        <#if project.status=="STOP">
                            <p class="text-danger">停止</p>
                        <#elseif project.status=="FINISH">
                            <p class="text-muted">完成</p>

                        <#else>
                            <p class="text-success">进行中</p>

                        </#if>
                    </td>
                    <td>
                    ${(project.createdAt)}
                    </td>
                    <td>
                        <#if project.isArchived>
                        ${(project.updatedBy)}
                        </#if>
                    </td>

                </tr>
                </#list>

            </tbody>
        </table>
        <@c.paginate searchForm="searchForm" />

    </div>
</div>
</@l.layout>