<#import "/le/oa/core/views/layout.ftl.html" as l>
<#assign header>
</#assign>
<#assign footer>
<script src="/assets/js/oa/form-common.js"></script>
    <#include "js.html">
<script>


</script>
</#assign>
<@l.layout header=header footer=footer>
<div class="main">
    <div class="main-header">
        <h4>发起工作审批</h4>
    </div>
    <div class="main-body">
        <div class="pieces" id="templates"></div>
        <div class="work-form">
            <input type="hidden" id="fromTemplateId" name="fromTemplateId">
            <h4 id="fromTemplateName"></h4>
            <input id="fromTemplateId" type="hidden" value="">
            <div class="work-wizard" id="workTemplates">
                <ul class="wizard_steps">
                </ul>
            </div>
            <form class="form-horizontal" id="form">
            </form>
        </div>
    </div>
</div>
<div style="display: none" id="htmlTemplate">
    <li class="task">
        <a href="#">
            <span class="step_no">
                <img src="/assets/img/">
            </span>
            <span class="step_descr"></span>
        </a>
    </li>

    <li class="taskAdd">
        <a href="#" class="add">
            <span class="step_no"><i class="fa fa-plus"></i></span>
            <span class="step_descr"></span>
        </a>
    </li>

    <div class="form-group formSave">
        <div class="col-md-offset-2  col-sm-6">
            <button id="sendWorkflow">发送工作审批</button>
            <a href="def.html" class="btn">取消</a>
        </div>
    </div>
</div>
    <#include "/le/oa/work/views/_fields.ftl.html">
    <#include "/le/oa/core/views/dialog.ftl.html">
</@l.layout>