<#import "/le/oa/core/views/layout.ftl.html" as l>
<#import "/le/oa/core/views/lib.ftl.html" as c>
<#assign header>

</#assign>
<#assign footer>
</#assign>
<@l.layout header=header footer=footer>
<div class="main">
    <div class="main-header">
        <ol class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-home fa-fw"></i>首页</a></li>
            <li class="active">已归档工作审批</li>
        </ol>
    </div>
    <div class="main-body">
        <form id="searchForm" method="get" action="/work">
            <div class="form-group row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" name="title" value="${(search.title)!}" class="form-control"
                               placeholder="工作审批标题...">
                          <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">查询</button>
                          </span>
                    </div>
                </div>

            </div>
        </form>
        <table class="table table-hover  work-list">

            <thead>
            <th class="col-xs-4">工作审批</th>
            <th class="col-xs-2">类型</th>
            <th class="col-xs-6">流程</th>
            </thead>
            <tbody>
                <#list items as item>

                <tr>
                    <td><a href="/work/instance/${item.id}">${item.workInstance.title}</a>

                        <div class="info-box">
                            <ul>

                                <li>${item.workInstance.formTemplateName}
                                    ${item.createdAt}</li>
                            </ul>
                        </div>
                    </td>
                    <td> ${item.workInstance.formTemplateName}
                    </td>
                    <td>
                        <#assign taskStatus ="text-success">
                        <#list item.workInstance.workFlow.tasks as task>
                            <#if (task_index>0)>
                                <span>-</span>
                            </#if>
                            <#if item.taskId==task.taskId>
                                <span class="text-primary">
                                <i class="fa fa-pause fa-fw"></i>
                                ${task.userName}
                                </span>
                                <#assign taskStatus ="text-muted">
                            <#else>
                                <span class="${taskStatus}">
                                <#if taskStatus ="text-success">
                                    <i class="fa fa-check fa-fw"></i>
                                </#if>
                                ${task.userName}
                                </span>
                            </#if>
                        </#list>
                    </td>
                </tr>
                </#list>

            </tbody>
        </table>
        <@c.paginate searchForm="searchForm" />
    </div>
</div>
</@l.layout>