<script>

    $(function () {
        var workflow = (function () {
            var $taskTemplate = $("#htmlTemplate li.task");
            var $taskAddTemplate = $("#htmlTemplate li.taskAdd");
            var $formSaveTemplate = $("#htmlTemplate .formSave");
            var loadWorkTemplates = function () {
                $("#templates").load("/work/templates");
            };
            var templateClear = function () {
                $("#workTemplates ul").empty();
                $("#form").empty();
            };
            var showTemplate = function ($li) {
                templateClear();
                $li.addClass("active").siblings().removeClass("active");
                $.getJSON("/work/templates/" + $li.data("id") + "/json", function (data) {
                    addWorkflowTasks(data.tasks);
                    $("#fromTemplateId").val(data.templateId);
                    $("#fromTemplateName").text(data.templateName);
                    showForm($.parseJSON(data.fields));
                });
            };
            var addWorkflowTasks = function (tasks) {
                $("#workTemplates li.taskAdd").remove();
                $.each(tasks, function (i, data) {
                    var $task = $taskTemplate.clone();
                    var $img = $task.find("img");
                    $img.attr("src", $img.attr("src") + data.photo);
                    $task.find(".step_descr").text(data.name);
                    $("#workTemplates ul").append($task);
                });
                $("#workTemplates ul").append($taskAddTemplate.clone());
            };
            var showForm = function (fields) {
                $.each(fields, function (i, data) {
                    $.form.createField(data);
                });
                $("#form").append($formSaveTemplate.clone());
            };
            var getData = function () {
                var data = {
                    title: "",
                    workFlow: "",
                    teamTemplateId: "",
                    fields: "",
                    parameters: ""
                };
                return data;
            };

            var init = function () {
                $("body").on("click", "#templates .add", function () {
                    var opts = {
                        src: "/work/templates/dialog",
                        title: "工作申请",
                        ok: function () {
                            showTemplates();
                        }
                    };
                    $.dialog.show(opts);
                });

                $("body").on("click", ".taskAdd", function () {
                    var opts = {
                        src: "/users/selUserDialog",
                        title: "团队成员",
                        ok: function (datas) {
                            console.log(datas);
                            addWorkflowTasks(datas);
                        }
                    };
                    $.dialog.show(opts);
                });

                $("body").on("click", "#templates li:not(.add)", function () {
                    showTemplate($(this));
                });
                //发起工作流
                $("body").on("click", "#sendWorkflow", function () {
                    var button = $(this);
                    var data = getData();
                    button.prop("disabled", true);
                    $.ajax({
                        type: "post",
                        url: page.requestUrl,
                        data: data,
                        success: function () {
                            location.href = page.locationUrl;
                        },
                        error: function (req) {

                            button.prop("disabled", false);
                        }
                    });
                });
            };

            return {
                init: init,
                loadWorkTemplates: loadWorkTemplates
            };
        })();
        $.workflow = workflow;
    });

    $(function () {
        $.workflow.init();
        $.workflow.loadWorkTemplates();
    });

</script>