<h4>${(template.formTeamTemplate.name)!}</h4>
<div class="work-wizard" id="workTemplate">
    <ul class="wizard_steps anchor">
        <#list template.workFlow.tasks as task>
            <li>
                <a href="#step-1" class="selected" isdone="1" rel="1">
                    <span class="step_no" data-taskid="${(task.taskId)!}">
                        <img src="/assets/images/${(task.userId)!}.jpg">
                    </span>
                </a>
                <span class="step_descr">${(task.userName)!}</span>
            </li>
        </#list>
        <li>
            <a href="#step-4" class="add" isdone="0" rel="4">
                <span class="step_no"><i class="fa fa-plus"></i></span>
                <span class="step_descr"></span>
            </a>
        </li>
    </ul>
</div>

<form class="form-horizontal form-label-left">

    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2">First Name <span class="required">*</span>
        </label>

        <div class="col-sm-6">
            <input type="text" id="first-name2" required="required" class="form-control col-md-7 col-xs-12">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="last-name">Last Name <span class="required">*</span>
        </label>

        <div class="col-md-6 col-sm-6">
            <input type="text" id="last-name2" name="last-name" required="required"
                   class="form-control col-md-7 col-xs-12">
        </div>
    </div>
    <div class="form-group">
        <label for="middle-name" class="control-label col-sm-2">Middle Name / Initial</label>

        <div class="col-sm-6">
            <input id="middle-name2" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 col-sm-2">Gender</label>

        <div class="col-md-6 col-sm-6">
            <div id="gender2" class="btn-group" data-toggle="buttons">
                <label class="btn btn-default" data-toggle-class="btn-primary"
                       data-toggle-passive-class="btn-default">
                    <input type="radio" name="gender" value="male"> &nbsp; Male &nbsp;
                </label>
                <label class="btn btn-primary active" data-toggle-class="btn-primary"
                       data-toggle-passive-class="btn-default">
                    <input type="radio" name="gender" value="female" checked=""> Female
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Date Of Birth <span class="required">*</span>
        </label>

        <div class="col-md-6 col-sm-6">
            <input id="birthday2" class="date-picker form-control col-md-7 col-xs-12" required="required"
                   type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2  col-sm-6">
            <a href="def.html" class="btn btn-success">发送工作审批</a>
            <a href="def.html" class="btn">取消</a>
        </div>
    </div>
</form>