/*项目讨论*/
.subject ul {
    padding: 0;
    list-style: none outside none;

}

.subject ul li {
    border-bottom: 1px dashed #ddd;
    padding: 10px 0 5px 0;
}

.subject ul li .heading {
    padding: 8px;
    font-size: 16px;
}

.subject ul li .heading .label {
    font-size: 8px;
    padding: 2px 4px;
}

.subject ul li .content {
    padding: 0px 10px;
    font-size: 14px;
    line-height: 22.4px
}

.subject ul li .tools {
    font-size: 13px;
    padding: 0px;
    margin-top: 5px;
    color: #999;
}

.subject ul li .tools > span {
    padding: 0px 10px;
}

.subject ul li .tools > span > a {
    color: #999;
    padding-right: 0px;
}

.subject ul li .tools > span > a:hover {
    color: #337ab7;
}