<#import "/le/oa/core/views/layout.ftl.html" as l>
<#import "/le/oa/project/views/lib.ftl.html" as lib>
<#assign header>
</#assign>
<#assign footer>
    <#include "js.html"/>
<script>
    $(function () {
        $.projectUser.init(${project.id});
    });
</script>
</#assign>
<@l.layout header=header footer=footer>
<div class="main">
    <@lib.projectHeader project=project selected="user"/>
    <p class="help-block">管理员可以邀请和移除项目成员，只有被邀请的团队成员才能访问该项目的信息。点击这里查看如何设置成员权限。.</p>

    <div id="users">
        <#include "users.ftl.html">
    </div>
</div>
<div class="hidden" id="userTemplater">
    <li>
        <div>
            <img class="photo" src="/assets/img/">
            <span class="name"></span>
            <span class="mail"></span>
        </div>
    </li>
</div>
    <#include "/le/oa/core/views/dialog.ftl.html">
</@l.layout>