<#import "/le/oa/core/views/layout.ftl.html" as l>
<#import "/le/oa/project/views/lib.ftl.html" as lib>
<#assign header>
<style>
    .task-list {
    }

    .task-list .task-list-title {
        margin-bottom: 1px;
        position: relative;
        cursor: pointer;
    }

    .task-list .task-list-body {
        margin-bottom: 1px;
    }

    .task-list .task-list-title span {

        padding: 2px 10px;
        color: #fff;
        display: inline-block;
        font-size: 12px;
    }

    .task-list .task-list-title > .tools {
        position: absolute;
        right: 10px;
        z-index: 2;
        top: 2px;
        line-height: 25px;
    }

    .unstart .task-list-title {
        background: #FFF7EB;
    }

    .unstart .task-list-title span {
        background: #FABB3D;
    }

    .unstart .task {
        border-left: 2px solid #FABB3D;
    }

    .unstart .task-list-title > .tools {
        color: #FABB3D;
    }

    .start .task-list-title {
        background: #bcd6ec;
    }

    .start .task-list-title span {
        background: #4586bd;
    }

    .start .task {
        border-left: 2px solid #4586bd;
    }

    .start .task-list-title > .tools {
        color: #4586bd;
    }

    .finish .task-list-title {
        background: #F1F9ED;
    }

    .finish .task-list-title span {
        background: #229f77;
    }

    .finish .task {
        border-left: 2px solid #229f77;
    }

    .task {
        border-bottom: 1px solid #f1f1f1;
        margin-bottom: 1px;
    }

    .task .desc {
        display: inline-block;
        width: 75%;
        padding: 7px 10px;
        font-size: 12px;
        color: #555;
    }

    .task .desc .title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .task .time {
        display: inline-block;
        float: right;
        width: 15%;
        padding: 5px 5px 5px 0px;
        font-size: 12px;
        text-align: right;
    }

    .task .time .date {
        font-size: 16px;
    }

    .task .task-info {
        line-height: 20px;
        color: #808080;
        font-size: 12px;
    }

    .task .task-info > ul {
        padding-left: 0;
        margin-left: -5px;
        list-style: none;
        margin-bottom: 0px;

    }

    .task .task-info > ul > li {
        display: inline-block;
        padding-right: 5px;
        line-height: 16px;
        min-width: 80px;
    }

    .task .task-info > ul > li > span {
        padding-right: 5px;
        padding-left: 5px;
    }

    .task-list-user {
        padding: 5px 0px 0px 5px;
    }

    .task-list-user .photo {
        border-radius: 50%;
        width: 30px;
        margin-left: 5px;
    }

    .task-list-user .name {
        margin-left: 5px;
    }

    .task-list-user .name {

    }

    .user-tasks {
        padding-left: 19px;
    }

    .user-task {
        border-top: 1px solid #f1f1f1;
        margin-bottom: 1px;
        border-left: 2px solid #229f77;
        padding: 5px 10px;
    }

    .user-task.end a {
        color: #229f77;
    }
</style>
</#assign>

<#assign footer>
<script>
    (function ($) {
        $.tasks = (function () {
            var projectId;
            var $noneTasks = $("#noneTasks");
            var $finishTasks = $("#finishTasks");
            var loadNoneTasks = function () {
                $noneTasks.load("/project/" + projectId + "/none-tasks");
            };
            var loadFinishTasks = function () {
                $finishTasks.load("/project/" + projectId + "/finish-tasks?interval=" + $("#queryInterval").val());
            };
            var init = function (id) {
                projectId = id;
                loadNoneTasks();
                loadFinishTasks();
                $("body").on("click", "#noneTasks .task-list-title", function () {
                    var $title = $(this);
                    if ($title.data("view") == "hide") {
                        $(this).siblings(".task-list-body").show();
                        $(this).find("i").removeClass("fa-chevron-down").addClass("fa-chevron-up");
                        $title.data("view", "show");
                    }
                    else {
                        $(this).siblings(".task-list-body").hide();
                        $(this).find("i").removeClass("fa-chevron-up ").addClass("fa-chevron-down");
                        $title.data("view", "hide");
                    }
                });
                $("#queryInterval").change(function () {
                    loadFinishTasks();
                });

            };
            return {
                init: init,
                loadNoneTasks: loadNoneTasks,
                loadFinishTasks: loadFinishTasks
            }
        })();
        $.taskDialog = (function () {
            var projectId;
            var dialog = $('#assignTaskModal');
            var callBack = function (data) {
                if (data.work) {
                    $.msg.success(data.messages);
                    $.tasks.loadNoneTasks();
                    $.tasks.loadFinishTasks();
                }
                else {
                    $.msg.error(data.messages);
                }
                dialog.modal('hide');
            }
            var init = function (id) {
                projectId = id;
                $.selectDate.init($("#planEndDate"));
                $("body").on("click", ".finish-task,.run-task", function () {
                    $('#taskForm').parsley().reset();
                    dialog.find("input[name='id']").val($(this).data("id"));
                    dialog.find("select[name='ownerId']").val($(this).data("owner-id"));
                    dialog.find("input[name='planEndDate']").val($(this).data("plan-end-date"));
                    dialog.find("select[name='points']").val($(this).data("points"));
                    dialog.find("input[value='" + $(this).data("priority") + "']").prop("checked", true);
                    dialog.find("select[name='status']").val($(this).data("status"));
                    dialog.modal('show');
                });
                $("#assignTaskBtn").on("click", function () {
                    if ($('#taskForm').parsley().validate()) {
                        var url = "/project/" + projectId + "/tasks/" + dialog.find("input[name='id']").val() + "/assign";
                        $.ajax({type: 'put', url: url, data: $('#taskForm').serialize(), success: callBack});
                    }
                });
            };
            return {
                init: init
            }
        })();
    })
    (jQuery);

    $(function () {
        $.tasks.init(${project.id});
        $.taskDialog.init(${project.id});
    });
</script>
</#assign>
<@l.layout header=header footer=footer>
<div class="main">
    <@lib.projectHeader project=project/>
    <div class="main-body">

        <div class="tools">
            <ul>
                <li>
                    <a href="/project/${project.id}/tasks/new">
                        <i class="fa fa-file-o  fa-fw"></i>新建项目任务
                    </a>
                </li>
            <#--<li>-->
            <#--<a href="/project/archived">-->
            <#--全部项目任务-->
            <#--</a>-->
            <#--</li>-->
            </ul>
        </div>
        <div class="row">
            <div id="noneTasks" class="col-md-8">

            </div>
            <div class="col-md-4">
                <div class="task-list finish">

                    <div class="task-list-title ">
                        <span>已完成</span>
                        <div class="tools">
                            <select id="queryInterval">
                                <option value="week">当前星期</option>
                                <option value="month">当月</option>
                            </select>
                        </div>
                    </div>
                    <div id="finishTasks" class="task-list-body">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
    <#include "assign-task.ftl.html"/>
</@l.layout>

