<#import "/le/oa/core/views/lib.ftl.html" as lib>
<#if noneTasks?has_content>
<div class="task-list unstart">
    <div class="task-list-title ">
        <span>未开始 ( ${noneTasks?size} ) </span>
        <div class="tools"><i class="fa fa-chevron-up"></i></div>
    </div>
    <div class="task-list-body">
        <#list noneTasks as task>
          <@taskList task=task/>
       </#list>
    </div>
</div>
</#if>
<#if runTasks?has_content>
<div class="task-list start">
    <div class="task-list-title">
        <span>进行中…… (${runTasks?size}) </span>
        <div class="tools"><i class="fa fa-chevron-up"></i></div>
    </div>
    <div class="task-list-body">
        <#list runTasks as task>
        <@taskList task=task/>
        </#list>
    </div>
</div>
</#if>
<#macro taskList task>
<div class="task">
    <div class="desc">
        <div class="title">
            <a href="/project/${task.project.id}/tasks/${task.id}">${task.name}</a>
        </div>
        <div>
            <@lib.nl2br content=task.content maxCount=200></@lib.nl2br>
        </div>
        <div class="task-info">
            <ul>
                <li>
                    <span>优先级:</span>
                    <#if task.priority=="HIGH">
                        紧急
                    <#elseif task.priority=="MEDIUM">
                        一般
                    <#else>
                        低
                    </#if>
                </li>
                <li><span>负责人:</span>
                    <#if task.owner??>
                    ${task.owner.name}
                    <#else>
                        未指定
                    </#if>
                </li>
                <li><span>工作量:</span>${task.points}</li>
            </ul>
        </div>
    </div>
    <div class="time">
        <div class="date">${task.planEndDate!}</div>
        <div>
            <#if task.status=="NONE">
                <button type="button" class="btn btn-primary btn-xs run-task"
                        data-id="${(task.id)!}"
                        data-owner-id="${(task.owner.id)!}"
                        data-plan-end-date="${(task.planEndDate?string("yyyy-MM-dd"))!}"
                        data-points="${(task.points)!}"
                        data-priority="${(task.priority)!}"
                        data-status="START">开始任务
                </button>
            <#else>
                <button type="button" class="btn btn-success btn-xs finish-task"
                        data-id="${(task.id)!}"
                        data-owner-id="${(task.owner.id)!}"
                        data-plan-end-date="${(task.planEndDate!)?string("yyyy-MM-dd")}"
                        data-points="${(task.points)!}"
                        data-priority="${(task.priority)!}"
                        data-status="FINISH">完成任务
                </button>
            </#if>
        </div>
    </div>
</div>
</#macro>