<#import "/le/oa/core/views/layout.ftl.html" as l>
<#import "/le/oa/core/views/lib.ftl.html" as lib>
<#assign header>
<style>
    .photos {
        padding: 8px 10px 8px 0px;
        list-style: none outside none;
        margin-bottom: 0px;
    }

    .photos > li {
        display: inline-block;
        padding: 3px;
        line-height: 1.4;
        background-color: #F9F9F9;
        border: 1px solid #FFF;
        margin-bottom: 2px;
        cursor: pointer;
    }

    .photos > li.active, .photos > li:hover {

        background-color: #1d9d74;
        border-color: #1d9d74;
        color: #1d9d74;
    }

    .photos li > img {
        border-radius: 1%;
        width: 50px;
        float: left;

    }

</style>
</#assign>
<#assign footer>
<script>
    $(function () {
        if ($(".photos li.active").length == 0) {
            var $li = $(".photos li:first");
            $li.addClass("active");
            $("#photo").val($li.data("id"));
        }
        $(".photos li").click(function () {
            $(this).siblings().removeClass("active");
            $(this).addClass("active");
            $("#photo").val($(this).data("id"));
        });
    });
</script>
</#assign>
<@l.layout header=header footer=footer>
<div class="main">
    <div class="main-header">

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home fa-fw"></i>首页</a></li>
            <li><a href="#">团队</a></li>
            <li class="active">...</li>
        </ol>
    </div>
    <div class="main-body">
        <p class="help-block">管理员可以添加团队成员，团队成员可以加入项目，执行项目任务，设置个人信息。用户默认登录密码是：<a href="#">1234</a></p>

        <form class="form-horizontal form-label-left" method="post" action="/users/update" data-parsley-validate="">

            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2">选择头像
                </label>

                <div class="col-sm-6 ">
                    <ul class="photos">
                      <#list (1..9) as index>
                          <li data-id="photo${index}.jpg"
                              class="${(((user.photo)!)=="photo"+index+".jpg")?string("active","")}">
                              <img src="/assets/img/photo${index}.jpg">
                          </li>
                      </#list>
                    </ul>
                </div>
                <input type="hidden" name="photo" id="photo" value="${(user.photo)!}">
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="last-name">
                    <span class="required">*</span>姓名
                </label>

                <div class="col-md-6 col-sm-6">
                    <input type="text" id="name" name="name" required maxlength="50"
                           class="form-control col-md-7" value="${(user.name)!}">
                    <input type="hidden" name="id" value="${user.id}">
                </div>
            </div>
            <div class="form-group">
                <label for="middle-name" class="control-label col-sm-2"><span class="required">*</span>邮箱</label>

                <div class="col-sm-6">
                    <input class="form-control col-md-7" type="email" value="${(user.email)!}" name="email" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2">分组</label>

                <div class="col-md-6 col-sm-6">
                    <select class="form-control col-md-3" name="roleId">
                        <option></option>
                      <#list roles as role>
                          <option value="${role.id}" ${(role.id==(user.role.id)!0)?string("selected","")}>
                          ${role.name}
                          </option>
                      </#list>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                </label>
                <div class="col-md-6 col-sm-6">
                    <input type="checkbox" name="permission" value="ADMIN" ${(((user.permission)!)=="ADMIN")?string("checked","")}>
                    系统管理员
                    <p class="help-block">系统管理员拥有最大的权限，可以做任何事情</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                </label>
                <div class="col-md-6 col-sm-6">
                    <input type="checkbox" name="resetPassword" value="true">重置密码
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2  col-sm-6">
                    <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                        保存
                    </button>
                    <a href="/users" class="btn">取消</a>
                </div>
            </div>
        </form>
    </div>
</div>
</@l.layout>