<#import "/le/oa/core/views/layout.ftl.html" as l>
<#import "/le/oa/project/views/lib.ftl.html" as lib>
<#assign header>
</#assign>
<#assign footer>
</#assign>
<@l.layout header=header footer=footer>
<div class="main">
    <@lib.projectHeader project=project selected="subject"/>
    <div class="subject">
        <ul>
            <#list subjects as item>
                <li>

                    <div class="heading">
                        <#if item.isTop>
                            <span class="label label-danger">置顶</span>
                        </#if>
                        <a href="#">${item.name}</a>
                    </div>
                    <div class="content">
                    ${item.content}
                    </div>
                    <div class="tools">
                        <span> 作者:  ${(item.createdBy.name)!}</span>
                        <span> 发布于 2015-05-30</span>
                        <span> <a href="#"><i class="fa fa-arrow-circle-up  fa-fw"></i>置顶</a></span>
                        <span> <a href="#"><i class="fa fa-pencil-square-o  fa-fw"></i>编辑</a></span>
                        <span> <a href="#"><i class="fa fa-trash-o fa-fw"></i>删除</a></span>
                    </div>
                </li>
            </#list>
        </ul>
    </div>
    <#include "subject-form.ftl.html">
</div>

</@l.layout>