<ul>
<#list subjects as item>
    <li>

        <div class="heading">
          <#if item.isTop>
              <span class="label label-danger">置顶</span>
          </#if>
            <a href="/project/${item.projectId}/subject/${item.id}">${item.name}</a>
        </div>
        <div class="content">
        ${item.content}
        </div>
        <div class="tools">
            <span> 作者:  ${(item.createdBy.name)!}</span>
            <span> 发布于 2015-05-30</span>
            <span> <a href="#"><i class="fa fa-arrow-circle-up  fa-fw"></i>置顶</a></span>
            <span> <a href="#" class="subject-del" data-id="${item.id}"><i class="fa fa-trash-o fa-fw"></i>删除</a></span>
        </div>
    </li>
</#list>
</ul>