<div class="form">
    <div class="form-body">
        <form class="form-horizontal" method="post" action="/project/${project.id}/subject"
              data-parsley-validate>

            <div class="form-group">
                <div class="input-group col-md-6">
                    <textarea rows="5" name="content" class="form-control" required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-success" type="submit">发表评论</button>
                </div>
            </div>
        </form>
    </div>
</div>
