<div class="hidden" id="field-templates">
    <div class="form-group field-item" data-field-type="TEXT">
        <label class="control-label col-sm-2">
            <span class="field-name">未命名</span><span class="required" style="display: none">*</span>
        </label>

        <div class="col-sm-4">
            <input type="text" class="form-control field-value" maxlength="100">
        </div>
    </div>
    
    <div class="form-group field-item" data-field-type="TEXTAREA">
        <label class="control-label col-sm-2">
            <span class="field-name">未命名</span><span class="required" style="display: none">*</span>
        </label>

        <div class="col-sm-6">
            <textarea class="form-control field-value" rows="5"></textarea>
        </div>
    </div>

    <div class="form-group field-item" data-field-type="RADIO">
        <label class="control-label col-sm-2">
            <span class="field-name">未命名</span>
        </label>
        <div class="col-sm-8 field-options">
        </div>
    </div>
    
    <div class="form-group field-item" data-field-type="CHECKBOX">
        <label class="control-label col-sm-2">
            <span class="field-name">未命名</span>
        </label>
        <div class="col-sm-8 field-options">
        </div>
    </div>
    <div class="form-group field-item" data-field-type="SELECT">
        <label class="control-label col-sm-2">
            <span class="field-name">未命名</span>
        </label>

        <div class="col-sm-4">
            <select class="form-control field-options  field-value">
            </select>
        </div>
    </div>
    <div class="form-group field-item" data-field-type="RATING">
        <label class="control-label col-sm-2">
            <span class="field-name">评分</span>
        </label>
        <div class="col-sm-6 form-control-static field-options">
        </div>
    </div>
    <div class="form-group field-item" data-field-type="DATE">
        <label class="control-label col-sm-2">
            <span class="field-name">未命名</span><span class="required" style="display: none">*</span>
        </label>
        <div class="col-sm-4 input-group">
            <input class="form-control field-value" size="16" type="text" value="" readonly>
            <a class="input-group-addon date-clear" href="#"><i class="fa fa-times"></i></a>
            <a class="input-group-addon date-select" href="#"><i class="fa fa-calendar"></i></a>
        </div>
    </div>
    <div class="form-group field-item" data-field-type="TIME">
        <label class="control-label col-sm-2">
            <span class="field-name">未命名</span><span class="required" style="display: none">*</span>
        </label>
        <div class="col-sm-6">
            <select class="form-control-line w50 default-hour" name="hour">
                <option value="">时</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="4">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
            </select>
            <select class="form-control-line w50 default-minute" name="minute">
                <option value="">分</option>
                <option value="5">05</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="35">35</option>
                <option value="40">40</option>
                <option value="45">45</option>
                <option value="50">50</option>
                <option value="55">55</option>
            </select>
        </div>
    </div>
    <div class="field-item page-header" data-field-type="LINE">
      <h4 class="field-name">标题</h4>
    </div>
    <a class="btn btn-del field-item-del" href="#" data-toggle="tooltip" data-placement="bottom" title="删除">
        <i class="fa fa-trash-o"></i>
    </a>
    <div class="radio radio-option-template">
        <label>
            <input type="radio" class="field-value" name="field-value">
            <span class="field-option">选项</span>
        </label>
    </div>
    <div class="checkbox checkbox-option-template">
        <label>
            <input type="checkbox" class="field-value" name="field-value">
            <span class="field-option">选项</span>
        </label>
    </div>
    <option value="" class="select-option-template"></option>
    <i class="fa fa-star-o rating-option-template"></i>

</div>

