<#import "/le/oa/core/views/layout.ftl.html" as l>
<#import "/le/oa/core/views/lib.ftl.html" as c>

<#assign header>

</#assign>
<#assign footer>

</#assign>
<@l.layout header=header footer=footer>
<div class="main">
    <div class="main-header">
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-home fa-fw"></i>首页</a></li>
            <li class="active">动态事件</li>
        </ol>
    </div>
    <div class="main-body">
        <form class="form-inline" action="/events">

            <div class="form-group">
                <label>日期区间：</label>
                <input type="text" class="form-control" name="stateDate" placeholder="开始日期">
                ~
                <input type="text" class="form-control" name="endDate" placeholder="结束日期">
            </div>
            <button class="btn btn-primary" type="submit">查询</button>
        </form>

        <div class="messages">
            <#list events as item>
                <h4>
                    <#if .now?date==item.eventDate?date>
                        今天
                    <#else>
                    ${item.eventDate?string("MM-dd")}
                    </#if>
                    <small> ${c.weekDayOptions[item.dayOfWeek?string]}</small>
                </h4>
                <ul>
                    <#list item.events as event>
                        <li>
                            <div class="message_date">
                                <p>${event.eventTime?date("HH:mm:ss")}</p>
                            </div>
                            <img src="">
                            <img src="/assets/img/${event.user.photo!}" class="avatar" alt="Avatar">

                            <div class="message_wrapper">
                                <h4 class="heading"> ${(event.user.name)!}： ${(event.title)!}</h4>
                                <blockquote class="message">${(event.content)!}</blockquote>
                            </div>
                        </li>
                    </#list>
                </ul>
            </#list>
        </div>
        <@c.paginate searchForm="searchForm" />
    </div>
</div>
</@l.layout>